<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="departmentDao"
          class="com.wuqi.dev.department.dao.impl.DepartmentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="departmentService"
          class="com.wuqi.dev.department.service.impl.DepartmentServiceImpl">
        <property name="departmentDao" ref="departmentDao"/>
    </bean>

    <bean name="departmentAction"
          class="com.wuqi.dev.department.web.action.DepartmentAction"
          scope="prototype">
        <property name="service" ref="departmentService"/>
    </bean>

</beans>